<html>
<head>

</head>
<body>
<div id="wrapper">
   <form> 
 <input type="file" accept="image/*" onchange="preview_image(event)"></form>
 <img id="output_image" src="http://placehold.it/180" height="180" width="180"/>
</div>
</body>
<script type='text/javascript'>
    function preview_image(event) 
    {
     var reader = new FileReader();
     reader.onload = function()
     {
      var output = document.getElementById('output_image');
      output.src = reader.result;
     }
     reader.readAsDataURL(event.target.files[0]);
    }
    </script>
</html>